// Badges
// -------------------------

.badge {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 6px;

  &.info {
    color: #2f6ed5;
    border-color: #2f6ed5;
  }
  &.success {
    color: #33b36b;
    border-color: #33b36b;
  }
  &.warning {
    color: #fc9231;
    border-color: #fc9231;
  }
  &.danger {
    color: #f03d3d;
    border-color: #f03d3d;
  }
}