// Tasks
// -------------------------
.tasks-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.task {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 16px;

  box-shadow: rgba(103, 111, 123, 0.2) 0px 11px 4px -7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: .25s;

  .badge {
    margin-left: auto;
    margin-right: 0;
  }

  .text {
    margin-left: 12px;
    color: rgb(78, 85, 98);

    .date { font-size: 12px;}
  }

  &:hover,
  &.active {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: rgba(103, 111, 123, 0.2) 0px 12px 4px -4px;
  }
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.task-details {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.task-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  flex-basis: 90px;

  .badge-wrap {
    width: 100%;
    margin-bottom: 8px;
    text-align: right;
  }
}

.details-info {
  .title {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .date {
    display: flex;
    align-items: center;
    font-size: 12px;

    img {
      margin-right: 6px;
      margin-top: -2px;
    }
  }
}

.task-details-body {
  p {
    line-height: 1.5;
  }
}